body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
.card {
    background-color: blanchedalmond;
    border: 2px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#nextQuestion {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#nextQuestion:hover {
    background-color: #0056b3;
}